@tailwind base;
@tailwind components;
@tailwind utilities;


.artifact-card {
  transition: all 0.3s ease;
}
.artifact-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}